body{
        //background-color: $bleu_pale;
      background-color: white;
}

#accueil{
     .background_message{
        background-color: $back_message;
        color: $bleu_pale;
        font-size: 25px;
    }
}

#accueil #article.back_article{
    
    .row{
	display: block;
    }
    .taille_photo{
        width: 50%;
	max-height: 250px;
    }
}
//class lier aux fonctions afficher()/cacher()
#nav_bar .cache{
	display:none;
	}
#nav_bar .visible{
	display:block;
	}
