body {
  background-color: white; }

#hiddenMessage {
  display: none; }

.margeBottom1 {
  margin-bottom: 1%; }

#accueil .taille {
  width: 100%;
  max-height: 500px; }

#footer .taille {
  width: 100%;
  height: 100%; }

#nav_bar .cache {
  display: none; }

#nav_bar .visible {
  display: block; }

body {
  background-color: white; }

#formulaire {
  margin-top: 2%; }
  #formulaire h1 {
    text-align: center;
    margin-bottom: 5%; }
  #formulaire input {
    border-radius: 5px; }
  #formulaire .row {
    margin-bottom: 2%; }

.titre_colonne {
  width: 100%; }

#accueil .background_message {
  background-color: #0F9DE8;
  color: #81DAF5;
  font-size: 15px; }
#accueil .espace_message {
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center; }
#accueil .espace h1 {
  padding: 2%; }
#accueil #article.back_article {
  background-color: yellow; }
  #accueil #article.back_article .row {
    display: none; }
  #accueil #article.back_article #article0 {
    display: block; }
  #accueil #article.back_article .margin_titre {
    margin-bottom: 25px; }
  #accueil #article.back_article .taille {
    width: 100%;
    height: 100%; }
  #accueil #article.back_article .margin_titre_article {
    margin-top: 4%; }
  #accueil #article.back_article .margin_photo_article {
    margin-top: 2%; }
  #accueil #article.back_article .taille_photo {
    height: 50%;
    width: 50%; }
  #accueil #article.back_article .flotte {
    float: right;
    margin-right: 11px;
    margin-left: 7px; }
  #accueil #article.back_article .padding_contenu {
    padding-left: 11px;
    padding-right: 11px;
    text-align: justify;
    line-height: 26px; }
  #accueil #article.back_article .padding {
    padding-top: 10px; }
  #accueil #article.back_article .police {
    font-family: Times; }
  #accueil #article.back_article .police_titre {
    font-family: monospace;
    font-variant-caps: small-caps; }
  #accueil #article.back_article .hidden {
    display: none; }
  #accueil #article.back_article .show {
    display: block; }

#nav_bar .cache {
  display: none; }

#nav_bar .visible {
  display: block; }

.numb {
  display: none; }

.email {
  display: none; }

.sexe {
  display: none; }

.dateN {
  display: none; }

.age {
  display: none; }

.pencil, .trash, .envelope, .infos {
  margin-left: 5%; }

@media screen and (min-width: 768px) {
  body {
    background-color: white; }

  #accueil .background_message {
    background-color: #0F9DE8;
    color: #81DAF5;
    font-size: 25px; }

  #accueil #article.back_article .row {
    display: block; }
  #accueil #article.back_article .taille_photo {
    width: 35%; }
  #accueil #article.back_article .hidden {
    display: block; }
  #accueil #article.back_article .show {
    display: none; }

  #nav_bar .cache {
    display: none; }

  #nav_bar .visible {
    display: block; }

  .numb, .email, .dateI, .age, .nom, .prenom {
    display: block; }

  .email, .numb {
    word-wrap: break-word; } }
@media screen and (min-width: 992px) {
  body {
    background-color: white; }

  #accueil .background_message {
    background-color: #0F9DE8;
    color: #81DAF5;
    font-size: 25px; }

  #accueil #article.back_article .row {
    display: block; }
  #accueil #article.back_article .taille_photo {
    width: 50%;
    max-height: 250px; }

  #nav_bar .cache {
    display: none; }

  #nav_bar .visible {
    display: block; } }

/*# sourceMappingURL=style.css.map */
